* {
    box-sizing: border-box;
}
body {
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
button, input, textarea {
    font-size: 16pt;
    min-width: 140px;
    padding: 3px 6px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 6px;
    margin-right: 6px;
}

#output {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(14pt, 3.25vw, 2.8em);
    white-space: pre;
    line-height: 1.1;
    /* animation: animLineHeight 2s cubic-bezier(0.075, 0.82, 0.165, 1); */
    transform-origin: top center;
    transform: scale(1, 0.6);
}

/* Squares */
span.ai {
    color: rgb(81, 131, 197);
}
span.start {
    color: rgb(63, 172, 82);
}
span.end {
    color: rgb(212, 67, 67);
}

span.location {
    color: rgb(194, 141, 255);
}
span.backed {
    color: rgb(41, 63, 92);
}

@keyframes animLineHeight {
    from {
        line-height: 1.5;
    }
}

#more {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 18px 0;
}
